div {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  justify-items: center;
}

footer,
a {
  color: rgb(236, 216, 148);
}
footer {
  text-align: center;
  padding: 8px 48px;
  background-color: rgba(0, 0, 0, 0.3);
}
